
<!DOCTYPE html>
<html lang="en">
     {% load staticfiles %}
     {% include "head.html" %}
    <body class="cm-no-transition cm-2-navbar">
         {% include "menu.html" %}
         {% include "header.html" %}
        <div id="global">
            <div class="container-fluid">
 
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">分组列表</div>
                            <div class="panel-body">
                                <p style="margin-bottom:0">本页包含各项目的<code>分组列表信息</code></p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr class="active">
                                        <th><code>组ID号</code></th>
										<th><code>组名</code></th>
										<th><code>推送</code></th>
										<th><code>编辑</code></th>
										<th><code>操作</code></th>										
                                    </tr>
                                </thead>
                                <tbody>
							        {%for i in response %} 
                                    <tr scope="row">
                                        <th>{{i.id}}</th>
                                        <td>{{i.groupname}}</td>
										<td><a href="/config/group/pushgroup?pid={{i.id}}" class="btn btn-yellow btn-xs" >推送配置</a></td>
                                        <td><a href="/config/group/setgroupconfig/?pid={{i.id}}" class="btn btn-primary btn-xs" >nginx.conf</a></td>										
										<td><a href="/config/group/del/?pid={{i.id}}" class="btn btn-defaultbtn  btn-danger btn-xs" onclick="return del()">删除</A></td>
                                    </tr>
					                 {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
			{% include "footer.html" %}
        </div>
            {% include "scripts.html" %}
			<script type="text/javascript"> 
				function del(){ 
				if(!confirm("确认要删除？")){ 
				window.event.returnValue = false; 
				} 
				} 
			</script>
    </body>
</html>