<!DOCTYPE html>
<html lang="en">
      {% load staticfiles %}
     {% include "head.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/built-editor.css' %}"/>
    <body class="cm-no-transition cm-1-navbar">
        {% include "menu.html" %}
        {% include "header.html" %}
        <div id="global"></BR></BR> 
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">编辑主配置</div>
					<form action='' method='POST' id="frmSave">
				    
                    <div class="modal-body"> 
							<div class="form-group">
								<label>主机组</label>
								<input type="text" class="form-control" placeholder="{{response.0.groupname}}" readonly="readonly">	
							</div>
                            
                            <label>nginx.conf</label> 
							<pre id='editor1'>{{response.0.serverconfig}}</pre>
							<textarea name="serverconf" style="display:none" ></textarea>	
						    <hr> 
                    
                        <div class="form-group text-right" style="margin-top:20px">
                            <button type="button" onclick="formSubmit()" class="btn btn-primary">保存</button>
					 	    <a href="javascript:history.back(-1);" class="btn btn-danger">返回</a>						
                        </div>
				    </div> 
                    </form>					
                </div>
				 
				 
            </div>
			{% include "footer.html" %}
        </div>
             
	 
          {% include "scripts.html" %}
	
		<script src="{% static 'assets/js/aceEdit/ace.js' %}" type="text/javascript" charset="utf-8"></script> 	
		<!--ace module-->
 		 <script> 
				var editor1 = ace.edit("editor1");
				 
				editor1.setTheme("ace/theme/monokai");
				editor1.getSession().setMode("ace/mode/drools"); // 一定要使用定义好的Mode	
				 		
		</script>
		  
 
		<!--提交-->
		<script type="text/javascript">
			function formSubmit() {
				$("[name=serverconf]").val(editor1.getValue());
 				//console.log($("[name=configText]").val())
		        //console.log($("[name=rewrite]").val())
				$("#frmSave").submit();
				//document.getElementById("").submit()
			}
		</script>
		   
    </body>
</html>