    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		 {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-clearmin.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/roboto.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/material-design.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/small-n-flat.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
        <title>OMDS-配置管理系统</title>
    </head>