
<!DOCTYPE html>
<html lang="en">
     {% load staticfiles %}
     {% include "head.html" %}
    <body class="cm-no-transition cm-2-navbar">
         {% include "menu.html" %}
         {% include "header.html" %}
        <div id="global">
		
		   <div class="container-fluid cm-container-white">
                <h2 style="margin-top:0;">欢迎来到 confd 配置管理中心 !</h2> 
                <p>本系统是一个基于confd+etcd+django开发的一款配置管理平台，主要集中管控nginx配置文件;</p>
				<p>confd 配置管理平台共分为3个基本块，项目配置，分组配置，ip配置;</p>
				<p>系统组件分为服务端和客户端，其中服务端主要为web、etcd、mysql服务，客户端为一个confAgent程序！ </p>
            </div>
            <div class="container-fluid">
 
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">IP数量</div>
                            <div class="panel-body">
                                <div id="d1-c1" style="height:150px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">项目数量</div>
                            <div class="panel-body">
                                <div id="d1-c2" style="height:150px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">分组数</div>
                            <div class="panel-body">
                                <div id="d1-c3" style="height:150px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <!---->
                <div class="row cm-fix-height">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="/" class="panel panel-default thumbnail cm-thumbnail">
                            <div class="panel-body text-center">
                                <span class="svg-48">
                                    <img src="{% static  'assets/img/sf/dashboard.svg' %}" alt="dashboard">
                                </span>
                                <h4>Dashboard</h4> <small>仪表盘</small>

                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="/config/project/add" class="panel panel-default thumbnail cm-thumbnail">
                            <div class="panel-body text-center">
                                <span class="svg-48">
                                    <img src="{% static  'assets/img/sf/notepad.svg' %}" alt="notepad">
                                </span>
                                <h4>项目增加</h4> <small>增加维护web项目.</small>

                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="/config/group/add" class="panel panel-default thumbnail cm-thumbnail">
                            <div class="panel-body text-center">
                                <span class="svg-48">
                                    <img src="{% static  'assets/img/sf/brick.svg' %}" alt="brick">
                                </span>
                                <h4>分组添加</h4> <small>增加服务器分组</small>

                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="/config/server/add" class="panel panel-default thumbnail cm-thumbnail">
                            <div class="panel-body text-center">
                                <span class="svg-48">
                                    <img src="{% static  'assets/img/sf/window-layout.svg' %}" alt="window-layout">
                                </span>
                                <h4>IP增加</h4> <small>归类服务器IP信息对应分组，并绑定nginx主配置.</small>

                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="/config/project/" class="panel panel-default thumbnail cm-thumbnail">
                            <div class="panel-body text-center">
                                <span class="svg-48">
                                    <img src="{% static  'assets/img/sf/cat.svg' %}" alt="cat">
                                </span>
                                <h4>配置管理</h4> <small>编辑服务配置</small> 
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="/channgepwd/" class="panel panel-default thumbnail cm-thumbnail">
                            <div class="panel-body text-center">
                                <span class="svg-48">
                                    <img src="{% static  'assets/img/sf/lock-open.svg' %}" alt="lock-open">
                                </span>
                                <h4>用户管理</h4> <small>修改用户密码.</small>

                            </div>
                        </a>
                    </div>
                </div

			<!---->




            </div>
			{% include "footer.html" %}
        </div>
            {% include "scripts.html" %}
			<script src="{% static  'assets/js/lib/d3.min.js' %}"></script>
            <script src="{% static  'assets/js/lib/c3.min.js' %}"></script>
		    <script>
			$(function(){
				this.makeGauge = function(selector, value, color)
				{
				c3.generate({
					bindto: selector,
					data: {
					columns: [
						['data', value]
					],
					type: 'gauge'
					},
					tooltip: {
					show: false
					},
					gauge: {
					label: {
						format: function(value, ratio) {
						return value;
						},
						show: false
					},
					min: 0,
					max: 100,
					units: ' %',
					width: 50
					},
					color: {
					pattern: [color, color, color], // the 3 color levels for the percentage values.
					}
				});
				};

				this.makeGauge('#d1-c1', {{response.data1.servearip__count}}, '#1abc9c');
				this.makeGauge('#d1-c2', {{response.data2.projectName__count}}, '#3498db');
				this.makeGauge('#d1-c3', {{response.data3.groupname__count}}, '#f39c12');

			});
			</script> 
    </body>
</html>