	   <!--MENU START-->
        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li><a href="/" class="sf-house">仪表盘</a></li>
                            <li><a href="/config/project/add" class="sf-notepad">项目增加</a></li>
                            <li class="cm-submenu">
                                <a class="sf-window-layout">配置管理 <span class="caret"></span></a>
                                <ul>
                                    <li><a href="/config/project/?typed=product">线上环境</a></li>
                                    <li><a href="/config/project/?typed=develop">研发环境</a></li>
                                    <li><a href="/config/project/?typed=test">测试环境</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-cat">用户管理 <span class="caret"></span></a>
                                <ul>
                                    <li><a href="ico-sf.html">个人信息</a></li>
                                    <li><a href="ico-md.html">修改密码</a></li>
                                    <li><a href="ico-fa.html">项目授权</a></li>
                                </ul>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
       <!--MENU END -->
