	   <!--MENU START-->
        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-midnight">
                <div class="cm-flex"><a href="/config/project/" class="cm-logo"></a></div>
                <div class="btn md-menu-white btn-midnight" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li><a href="/" class="sf-house">仪表盘</a></li>
                        
							<li class="cm-submenu">
                                <a class="sf-notepad">项目管理 <span class="caret"></span></a>
                                <ul>
                                    <li><a href="/config/project/add">项目增加</a></li>
                                     
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-folder">分组管理<span class="caret"></span></a>
                                <ul>
                                    <li><a href="/config/group/add">组添加</a></li>
									<li><a href="/config/group/">分组列表</a></li>
                                </ul>
                            </li>

							<li class="cm-submenu">
                                <a class="sf-device-laptop">IP管理<span class="caret"></span></a>
                                <ul>
                                    <li><a href="/config/server/add">IP添加</a></li>
									<li><a href="/config/server/">IP列表</a></li>
                                </ul>
                            </li>
							
							
							
                            <li class="cm-submenu">
                                <a class="sf-wrench">配置管理 <span class="caret"></span></a>
                                <ul>
                                    <li><a href="/config/project/?typed=product">线上环境</a></li>
                                    <li><a href="/config/project/?typed=develop">研发环境</a></li>
                                    <li><a href="/config/project/?typed=test">测试环境</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-user-male">用户管理 <span class="caret"></span></a>
                                <ul>
                                    {% comment %} <li><a href="#">个人信息</a></li> {% endcomment %}
                                    <li><a href="/channgepwd/">修改密码</a></li>
                                    {% comment %} <li><a href="#">项目授权</a></li> {% endcomment %}
                                </ul>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
       <!--MENU END -->
