
<!DOCTYPE html>
<html lang="en">
     {% load staticfiles %}
     {% include "head.html" %}
    <body class="cm-no-transition cm-2-navbar">
         {% include "menu.html" %}
         {% include "header.html" %}
        <div id="global">
            <div class="container-fluid">
 
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">项目列表</div>
                            <div class="panel-body">
                                <p style="margin-bottom:0">本页包含各项目的<code>配置列表信息</code></p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr class="active">
                                        <th>#</th>
										<th><code>类型</code></th>
                                        <th><code>项目名</code></th>
                                        <th><code>服务名</code></th>
                                        <th><code>vhost</code></th>
										<th><code>同步</code></th>
										<th><code>操作</code></th>										
										<th><code>删除?</code></th>										
                                    </tr>
                                </thead>
                                <tbody>
							        {%for i in response %} 
                                    <tr scope="row">
                                        <th scope="row">#</th>
										<td>{{i.typed}}</td>
                                        <td>{{i.projectName}}</td>
                                        <td>{{i.serverName}}</td>
                                        <td>{{i.vhosts}}</td>
										<td><a href="/config/project/push/?pid={{i.id}}" class="btn btn-yellow btn-xs">配置同步</A></td>
										<td><a href="/config/project/channge?pid={{i.id}}" class="btn btn-primary btn-xs" >编辑</A></td>										
										<td><a href="/config/project/del/?pid={{i.id}}" class="btn btn-default btn-xs" onclick="return del()">删除</A></td>
										
                                    </tr>
					                 {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
			{% include "footer.html" %}
        </div>
            {% include "scripts.html" %}
			<script type="text/javascript"> 
				function del(){ 
				if(!confirm("确认要删除？")){ 
				window.event.returnValue = false; 
				} 
				} 
			</script>
    </body>
</html>