<!DOCTYPE html>
<html lang="en">
      {% load staticfiles %}
     {% include "head.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/built-editor.css' %}"/>
    <body class="cm-no-transition cm-1-navbar">
        {% include "menu.html" %}
        {% include "header.html" %}
        <div id="global"></BR></BR> 
            <div class="container-fluid">
                <div class="panel panel-default">
				
                    <div class="panel-heading">编辑配置</div>
					<form action='' method='POST' id="frmSave">
				    
                    <div class="panel-body">
                        <div class="form-group">
                            <label>域名</label>
                            <input type="text" class="form-control" placeholder="{{response.VERSION.1.vhosts}}" readonly="readonly">
                             						
                        </div>
						
                           <label>vhost</label> 
							<pre id='editor1'>{{response.DEFAULT.0.confText}}</pre>
							<textarea name="configText" style="display:none" ></textarea>
							
						    <hr>
                            <label>rewrite</label> 
							<pre id='editor2'>{{response.DEFAULT.0.rewrite}}</pre>
							<textarea name="rewrite" style="display:none" ></textarea>
                    
                 
                        <div class="form-group text-right" style="margin-top:20px">
                            <button type="button" onclick="formSubmit()" class="btn btn-primary">保存</button>
					 	    <a href="javascript:history.back(-1);" class="btn btn-danger">返回</a>						
                        </div>
						
                    </div>
				 
				 
					</form> 
				 
                </div>
            </div>
            {% include "footer.html" %}
		</div>
          {% include "scripts.html" %}
	
		<script src="{% static 'assets/js/aceEdit/ace.js' %}" type="text/javascript" charset="utf-8"></script> 	
        <script>
			 
				var editor1 = ace.edit("editor1");
				var editor2 = ace.edit("editor2");
		 
				editor1.setTheme("ace/theme/monokai");
				editor1.getSession().setMode("ace/mode/drools"); // 一定要使用定义好的Mode	
				
				editor2.setTheme("ace/theme/monokai");
				editor2.getSession().setMode("ace/mode/drools"); // 一定要使用定义好的Mode					
		</script>
		  
 
		<!--提交-->
		<script type="text/javascript">
			function formSubmit() {
				$("[name=configText]").val(editor1.getValue());
				$("[name=rewrite]").val(editor2.getValue());
				//console.log($("[name=configText]").val())
		        //console.log($("[name=rewrite]").val())
				$("#frmSave").submit();
				//document.getElementById("").submit()
			}
		</script>
		   
    </body>
</html>